.container {
  padding: 0 auto;
  margin: 0 auto;
  width: 750px;
  font-family: "Roboto Condensed", sans-serif;
}
.menu {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(26, 63, 69);
  font-size: 60px;
}
.logo {
  padding: 0 50px 0 0;
}
.btn_top button {
  color: aliceblue;
  font-family: "Roboto Condensed", sans-serif;
}
.sing_up {
  font-size: 24px;
  padding: 18px 35px;
  background-color: rgb(90, 174, 96);
  border: none;
  border-radius: 40px;
}
.log_in {
  font-size: 24px;
  padding: 18px 35px;
  background-color: rgb(45, 90, 96);
  border: none;
  border-radius: 40px;
}
.menu_btn {
  position: relative;
  display: inline-block;
}
.menu_btn ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu_btn ul li {
  text-align: center;
  color: white;
  background-color: rgb(45, 90, 96);
}
.menu_btn:hover ul {
  display: block;
}
button:hover {
  background-color: rgb(41, 197, 32);
  border: 1px solid black;
  transition: 0.5s;
}
.submenu {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  background-color: rgb(43, 96, 104);
  border-bottom: 1px solid rgb(62, 115, 123);
  box-sizing: border-box;
}
.popular {
  display: flex;
  border-bottom: 5px solid rgb(91, 164, 173);
}
a {
  text-decoration: none;
  color: rgb(239, 239, 239);
}
.race {
  display: flex;
}
.race_pic {
  padding-bottom: 10px;
}
.search {
  height: 50px;
  padding: 23px 0px 20px;
  border: none;
}
.filtr {
  height: 43px;
  padding: 25px 0 20px;
}
.submenu div a {
  font-size: 40px;
  padding: 25px 10px 0;
}
.submenu button {
  background-color: rgb(43, 96, 104);
  border: none;
}
.blok {
  background-color: rgb(43, 96, 104);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 18px;
}
.blok_item {
  margin-bottom: 30px;
  background-color: rgb(26, 63, 69);
  border-radius: 50px;
}
.blok_item_img {
  border-radius: 15px 15px 0 0;
  height: 200px;
}
.blok_item_title {
  background-color: rgb(26, 63, 69);
  padding: 10px;
  font-size: 20px;
  border-radius: 0 0 15px 15px;
}
.point_menu {
  width: 20px;
}
.point_menu_btn {
  border: none;
  background-color: rgb(26, 63, 69);
  float: right;
}
.point_menu_btn:hover {
  background-color: rgb(26, 63, 69);
  border: none;
  padding: 2px;
}
.footer {
  background-color: rgb(43, 96, 104);
}
.panel_blok {
  display: flex;
  margin: 0;
  justify-content: center;
  list-style: none;
  padding-bottom: 20px;
}
.page_link img {
  border-radius: 50%;
  width: 12px;
  padding: 0 10px 0px;
}
